.navbar-dark {
    background-color: #090821;
    background: #090821;

    .navbar-menu,
    .navbar-end {
        .navbar-item, .navbar-link {
            color: $theme03;
            &:hover,
            &:focus {
                color: $theme02;
                background: #1b1c3c;
            }
            &.has-dropdown {
                a {
                    &:hover,
                    &:focus {
                        color: $theme02;
                    }
                }

                &:hover, 
                &:focus {
                    .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
                        background: #1b1c3c;
                    }

                }
                    
                .navbar-dropdown {
                    a {
                        color: #090821;
                        &:hover,
                        &:focus {
                            color: #090821;
                            background: #fff;
                        }
                        
                    }

                }
            }

        }
    }


    @media screen and (max-width: 1087px) {
        .navbar-menu,
        .navbar-end {
            background-color: #090821;
            .navbar-item, .navbar-link {
                &.has-dropdown {
                    a {
                        &:hover,
                        &:focus {
                            color: $theme02;
                        }
                    }
    
                    &:hover, 
                    &:focus {
                        .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
                            background: #1b1c3c;
                        }
    
                    }
                        
                    .navbar-dropdown {
                        a {
                            color: $primary;
                            &:hover,
                            &:focus {
                                color: $primary;
                                background: #1b1c3c;
                            }
                            
                        }
    
                    }
                }
    
            }
        }
    }

}
